<jl-project-details
  (closeDetails)="onCloseProjectDetails()"
  (openLink)="onOpenLink($event)"
  [item]="currentProjectItem"
  [projectProps]="projectProps"
  [imgLocBase]="dataConfig.imgPreviewLocBase"
  *ngIf="isProjectDetailsVisible"></jl-project-details>

<jl-content-wrapper>

  <button class="btn-show-filters btn-icon"
    [@btnFiltersVisible]="filtersVisibleState"
    (click)="onToggleFiltersVisible()"
    jl-tooltip [message]="isFiltersVisible ? 'Hide Filters' : 'View Filters'">
    <i class="fas fa-chevron-circle-down"></i>
  </button>
  <section class="jl-filters-panel"
    [ngClass]="{'is-visible': isFiltersVisible}"
    [@filtersVisible]="filtersVisibleState"
    (@filtersVisible.done)="onFiltersVisibleDone($event)">
    <h1>Filters here!</h1>
    <p>Filter</p>
    <p>Filter</p>
    <p>Filter</p>
    <p>Filter</p>
    <p>Filter</p>
    <p>Filter</p>
    <p>Filter</p>
  </section>

  <section class="jl-work-content">
    <section [ngSwitch]="dataLoadedState">
      <div *ngSwitchCase="LOAD_STATE.loading">
        <h2>Loading sheets data...</h2>
      </div>
      <div *ngSwitchCase="LOAD_STATE.loaded">
        <section class="jl-project-previews"
          fxLayout="row wrap"
          fxLayout.xs="column" fxLayoutAlign.xs="start center">
          <jl-project-item *ngFor="let item of projectItems"
            [item]="item"
            [projectProps]="projectProps"
            [imgLocBase]="dataConfig.imgThumbLocBase"
            (openDetails)="onOpenProjectDetails(item)"
            (openLink)="onOpenLink($event)"></jl-project-item>
        </section>
      </div>
    </section>
  </section>
</jl-content-wrapper>

