@import '../../../styles/variables';
@import '../../../styles/mixins';

.jl-work-content {
  margin: 1rem 0 2rem;
}

.jl-project-previews {
  margin-left: - 10px; // Shift to the left margin to align items.
}

$btn-size-filters: 40px;
.btn-show-filters {
  position: absolute;
  z-index: 1000;
  top: - ($btn-size-filters * .5) - 2px;
  right: - $btn-size-filters * .625;
  width: 44px;
  height: 44px;
  @include circle($btn-size-filters);
  background-color: $color-btn-blue;

  img {
    margin-bottom: -5px;
  }

  &:hover {
    background-color: $color-btn-blue-over;
  }
}

