@import '../../../styles/variables';
@import '../../../styles/mixins';

.jl-work-content {
  margin: 2rem 0;
}

.jl-project-previews {
  margin-left: - 10px; // Shift to the left margin to align items.
}

$btn-size-filters: 40px;
.btn-show-filters {
  position: absolute;
  font-size: $btn-size-filters;
  top: - $btn-size-filters * .625;
  right: - $btn-size-filters * .625;
}

