<jl-project-details
  (closeDetails)="onCloseProjectDetails()"
  (openLink)="onOpenLink($event)"
  [item]="currentProjectItem"
  [projectProps]="projectProps"
  [imgLocBase]="dataConfig.imgPreviewLocBase"
   *ngIf="isProjectDetailsShown">
</jl-project-details>

<jl-content-wrapper>
  <section class="jl-page-content">
    <section [ngSwitch]="dataLoadedState">
      <div *ngSwitchCase="loadState.loading">
        <h2>Loading sheets data...</h2>
      </div>
      <div *ngSwitchCase="loadState.loaded">
        <section class="jl-project-previews"
          fxLayout="row wrap"
          fxLayout.xs="column" fxLayoutAlign.xs="start center">
          <jl-project-item *ngFor="let item of projectItems"
            [item]="item"
            [projectProps]="projectProps"
            [imgLocBase]="dataConfig.imgThumbLocBase"
            (openDetails)="onOpenProjectDetails(item)"
            (openLink)="onOpenLink($event)"></jl-project-item>
        </section>
      </div>
    </section>
  </section>
</jl-content-wrapper>

