@import '../../../styles/variables';
@import '../../../styles/mixins';

footer {
  background-color: $color-white;
  height: $height-footer;
  box-shadow: $box-shadow-central;
}

.btn-open-url {
  img {
    opacity: .5;
    width: 28px;
    transition: $transition-btn;
  }

  i {
    font-size: 24px;
    margin-left: 3px;
    color: $color-grey-600;
    transition: $transition-btn;
  }

  span {
    font-size: .875em;
    color: $color-grey-600;
    transition: $transition-btn;
  }

  &:hover {
    img {
      opacity: .8;
    }

    i {
      color: $color-grey-800;
    }

    span {
      color: $color-grey-800;
    }
  }
}
