@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.video-container {
  width: 320px;
  height: 180px;
}

video {
  width: 100%;
  height: 100%;
  box-shadow: $box-shadow-details-image;
}
