@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/components';

.jl-filters-panel {
  position: relative;
  overflow: hidden;

  &.is-visible {
    // border-bottom: 1px solid grey;
  }
}

.filter-category {
  margin: 1rem 1rem 0;

  &:first-of-type {
    margin-top: 1.5rem;
  }

  h2 {
    margin-bottom: .5em;
  }

  .btn-filter-clear {
    margin-bottom: .5em;
    padding-left: 10px;
    font-size: 14px;
    color: $color-grey-500;

    &:hover {
      color: $color-grey-800;
    }
  }
}

.filter-control {
  margin-right: 12px;

  input {
    &[type=checkbox] {
      margin-right: 0;
      opacity: .6;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &+label {
        padding-left: 3px;
        font-size: .75rem;
        font-weight: 400;
        color: $color-grey-600;
        cursor: pointer;

        &:hover {
          color: $color-grey-800;
        }
      }

      &:checked {
        opacity: 1;

        &+label {
          color: $color-grey-800;
          // font-weight: 700;
        }
      }
    }
  }
}

