@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/components';

.jl-filters-panel {
  position: relative;
  overflow: hidden;

  &.is-visible {
    // border-bottom: 1px solid grey;
  }
}

.filter-categories {
  padding: 1.75rem 0 .25rem;

  .filter-controls {
    margin-bottom: 1rem;
  }

  .btn-show-controls {
    padding-left: 0;
    color: $color-grey-800;
  }

  .btn-filter-clear {
    margin-bottom: .25em;
    padding-left: 10px;
    font-size: 14px;
    color: $color-grey-500;

    &:hover {
      color: $color-grey-800;
    }
  }
}

.filter-control {
  margin-right: 12px;

  input {
    &[type=checkbox] {
      margin-right: 0;
      opacity: .6;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &+label {
        padding-left: 3px;
        font-size: .75rem;
        font-weight: 400;
        color: $color-grey-600;
        cursor: pointer;

        &:hover {
          color: $color-grey-800;
        }
      }

      &:checked {
        opacity: 1;

        &+label {
          color: $color-grey-800;
          // font-weight: 700;
        }
      }
    }
  }
}

