<jl-content-wrapper>

  <section class="jl-page-content">
    <h1 class="jl-about-title">
      ABOUT ME
    </h1>
    <div class="jl-divider-horiz jl-title"></div>
    <section class="jl-about-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis
        quis tenetur odit expedita itaque. Vero quam molestiae exercitationem facere. Sunt!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis</p>
    </section>
  </section>

</jl-content-wrapper>
