<jl-content-wrapper>
  <section class="jl-about-content"
    fxLayout="row" fxLayoutGap="2.5em">
    <div fxFlex="60">
      <section class="about-section">
        <h1 class="about-title text-right"> Profile </h1>
        <div class="about-card profile">
          <p>I’m an Interaction Designer and UX Engineer currently in the role of Product Technology Manager on the O-Ladder for gTech
          Ads. I currently specialize in the design and development of internal tools as well as provide UX expertise for various teams
          around the org.</p>
          <p>I've brought over 14 years experience working with a variety of multimedia and web technologies to Google, where I've spent
          the past 6 years in a number of roles which have required a unique balance of design and development skills.</p>
        </div>
      </section>
      <section class="about-section">
        <h1 class="about-title text-right"> Employment History </h1>
        <div class="about-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis
            quis tenetur odit expedita itaque. Vero quam molestiae exercitationem facere. Sunt!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis</p>
        </div>
      </section>
    </div>
    <div fxFlex="40">
      <section class="about-section">
        <h1 class="about-title"> Skills </h1>
        <div class="about-card">
          <!-- <h3>Development</h3>
          <ul>
            <li>Javascript + Typescript</li>
            <li>Angular + AngularJS</li>
            <li>RxJS</li>
            <li>Polymer</li>
            <li>CSS3 / Sass / LESS</li>
            <li>Python</li>
            <li>Rapid Prototyping</li>
            <li>Motion Design</li>
            <li>Google APIs</li>
            <li>App Engine</li>
            <li>Apps Script</li>
            <li>SQL</li>
          </ul>
          <h3>Design</h3>
          <ul>
            <li>Sketch</li>
            <li>Illustrator</li>
            <li>Photoshop</li>
            <li>Axure</li>
            <li>Framer</li>
            <li>After Effects</li>
            <li>Balsamiq</li>
            <li>UX + PE Principles</li>
          </ul> -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis
            quis tenetur odit expedita itaque. Vero quam molestiae exercitationem facere. Sunt!</p>
        </div>
      </section>
      <section class="about-section">
        <h1 class="about-title"> Qualifications </h1>
        <div class="about-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis
            quis tenetur odit expedita itaque. Vero quam molestiae exercitationem facere. Sunt!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi quidem dolorum sint illum sequi? Maiores sit rem corporis</p>
        </div>
      </section>
    </div>
  </section>
</jl-content-wrapper>
