@import 'variables';
@import 'mixins';

$font-size-btn: $font-size-base;
$font-size-btn-icon: 18px;
$font-size-btn-icon-small: 15px;
$font-size-btn-icon-large: 30px;

.btn-main {
  display: inline-block;
  font-family: $font-family-titles;
  background-color: $color-grey-500;
  color: $color-white;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: .375em 1em;
  font-size: $font-size-btn;
  line-height: $line-height-base;
  border-radius: $border-radius;
  transition: $transition-btn;
  text-decoration: none;

  &:not(:disabled) {
    cursor: pointer;

    &:active, &:hover, &:focus {
      background-color: $color-grey-600;
    }

    &:focus {
      outline: 0;
    }
  }

  &:disabled {
    opacity: .7;
  }

  &:not(:first-of-type) {
    margin-left: .5em;
  }
}

.btn-icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 5px;
  font-size: $font-size-btn-icon;
  line-height: 1;
  color: $color-grey-500;
  background-color: transparent;
  transition: $transition-btn;

  &:not(:disabled) {
    cursor: pointer;

    &:active, &:hover, &:focus {
      color: $color-grey-800;
    }

    &:focus {
      outline: 0;
    }
  }

  &.icon-small {
    font-size: $font-size-btn-icon-small;
  }

  &.icon-large {
    font-size: $font-size-btn-icon-large;
  }
}

.jl-divider-horiz {
  height: 1px;
  border-top: 1px solid $color-grey-400;

  &.jl-title {
    margin: .75em 0 1.5em 0;
  }
}

.jl-progress-spinner {
  opacity: .5;
}
