@import 'variables';

@mixin circle($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
}

@mixin quote($color) {
  font-family: $font-family-header;
  position: absolute;
  font-size: 100px;
  color: $color;
}

@mixin btn-base {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  text-decoration: none;
  transition: $transition-btn;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
