@import 'resets';
@import 'variables';
@import 'mixins';
@import 'components';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: $font-family-body;
  line-height: $line-height-base;
  background-color: $color-grey-50;

  min-height: 100%;
}

// Text

p, li, label {
  font-size: .875rem;
}

p, h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
  line-height: $line-height-base;
}

ul {
  margin-left: 1.75rem;
  margin-bottom: 1rem;
  list-style-type: disc;

  li {
    padding-left: .125rem;
    margin-bottom: .375em;
  }
}

.sub-title {
  font-family: $font-family-titles;
  text-transform: uppercase;
  letter-spacing: .075em;
}

// Dimensions
.width-page-max-lg {
  // width: $width-page-max-lg;
}
.width-page-max-md {
  // width: $width-page-max-md;
}
.width-page-max-sm {
  // width: $width-page-max-sm;
}

// Control elements ourside app scope.
.lock-overflow {
  overflow: hidden;
}

.lock-overflow-y {
  overflow-y: hidden;
}

// Layout and alignment
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
