@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

@import 'resets';
@import 'variables';
@import 'mixins';
@import 'components';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: $font-family-body;
  line-height: $line-height-base;
  background-color: $color-grey-50;
}

// Text

p, li, label {
  font-size: .875rem;
}

p, h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
}

.sub-title {
  font-family: $font-family-titles;
  text-transform: uppercase;
  letter-spacing: .1em;
}

// Dimensions
.width-page-max-lg {
  // width: $width-page-max-lg;
}
.width-page-max-md {
  // width: $width-page-max-md;
}
.width-page-max-sm {
  // width: $width-page-max-sm;
}

// Control elements ourside app scope.
.lock-overflow {
  overflow: hidden;
}

.lock-overflow-y {
  overflow-y: hidden;
}

// Layout and alignment
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
