<header class="jl-header"
  fxLayout="row" fxLayoutAlign="center center">
  <section class="jl-header-content"
    fxLayout="row" fxLayoutAlign="space-between center"
    fxLayout.xs="column" fxLayoutAlign.xs="center center"
    [fxFlex.sm]="dimensions.wPageMaxSm" [fxFlex.md]="dimensions.wPageMaxMd" [fxFlex.lg]="dimensions.wPageMaxLg">
    <h1 class="jl-title">Jason Lewis</h1>
    <nav class="jl-header-nav" fxLayout="row" fxLayoutAlign="center center">
      <button class="btn-main"
        [disabled]="currentRoute && currentRoute.name == routeConfig.work.name"
        [routerLink]="routeConfig.work.path">
        {{routeConfig.work.label}}
      </button>
      <button class="btn-main"
        [disabled]="currentRoute && currentRoute.name == routeConfig.about.name"
        [routerLink]="routeConfig.about.path">
         {{routeConfig.about.label}}
      </button>
    </nav>
  </section>
</header>
