@import '../../../styles/variables';
@import '../../../styles/mixins';

.jl-header {
  height: 80px;
  background-color: $color-white;
  box-shadow: $box-shadow-header;
  font-family: $font-family-header;

  .jl-title {
    white-space: nowrap;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 1px;
    color: $color-grey-400;
  }

  .jl-subtitle {
    margin: 7px 0 0;
    white-space: nowrap;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-grey-600;
  }

  .jl-divider-vert {
    height: 50px;
    margin: 0 30px;
    border-left: 1px solid $color-grey-300;
  }

  .jl-subtitle-dot {
    @include circle(6px);
    margin: 0 15px;
    background-color: $color-grey-200;
  }
}
