<header class="jl-header"
  fxLayout="row" fxLayoutAlign="center center">
  <section class="jl-header-content"
    fxLayout="row" fxLayoutAlign="space-between center"
    fxLayout.xs="column" fxLayoutAlign.xs="center center"
    [fxFlex.sm]="dimensions.wPageMaxSm" [fxFlex.md]="dimensions.wPageMaxMd" [fxFlex.lg]="dimensions.wPageMaxLg">
    <h1 class="jl-title">Jason Lewis</h1>
    <nav class="jl-header-nav" fxLayout="row" fxLayoutAlign="center center">
      <button class="btn-main">Work</button>
      <button class="btn-main">About</button>
    </nav>
  </section>
</header>
