@import '../../../styles/variables';
@import '../../../styles/mixins';

.jl-header {
  height: 80px;
  padding-bottom: 6px;
  background-color: $color-white;
  box-shadow: $box-shadow-header;
  font-family: $font-family-titles;

  .jl-title {
    white-space: nowrap;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 1px;
    color: $color-grey-400;
    margin-bottom: 0;
  }

  .jl-header-nav {
    padding: 15px 0 0;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-grey-600;
  }
}
