<section class="jl-modal">
  <jl-content-wrapper>
    <button class="btn-close btn-icon" (click)="onClose()">
      <i class="fas fa-times"></i>
    </button>
    <section
      [@panelVisible]="panelVisibleState"
      (@panelVisible.done)="onPanelVisibleDone($event)">
      <div class="details-content" fxLayout="row" fxLayoutAlign="start start">
        <button class="btn-project-select btn-left btn-icon"
          [disabled]="projectItemIndex === 0"
          (click)="onProjectPrev()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <div fxFlex="auto" fxLayoutGap="2rem"
          fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
          <jl-details-header fxHide fxShow.sm fxShow.xs
            [projectItem]="projectItem"
            (openLink)="onOpenLink($event)"></jl-details-header>
          <div fxFlex="1 0 auto" fxFlex.sm="none" fxFlex.xs="none">
            <jl-video-player
              *ngIf="projectItem[MODEL.videoPreviewLoc]"
              [videoLocBase]="videoLocBase"
              [videoPreviewLoc]="projectItem[MODEL.videoPreviewLoc]"></jl-video-player>
            <jl-image-carousel *ngIf="projectItem[MODEL.imgPreviewLoc]"
              [imgLocBase]="imgLocBase"
              [imgPreviewLoc]="projectItem[MODEL.imgPreviewLoc]"></jl-image-carousel>
          </div>
          <div fxFlex="1 1 100%" fxFlex.sm="none" fxFlex.xs="none"
            fxLayout="column" fxLayoutAlign="start stretch">
            <jl-details-header fxShow fxHide.sm fxHide.xs
              [projectItem]="projectItem"
              (openLink)="onOpenLink($event)"></jl-details-header>
            <p *ngFor="let desc of projectItem[MODEL.description]">{{desc}}</p>
            <h2 class="sub-title" *ngIf="projectItem[MODEL.tasks]">
              {{projectProps[MODEL.tasks].label}}
            </h2>
            <ul *ngIf="projectItem[MODEL.tasks]">
              <li *ngFor="let item of projectItem[MODEL.tasks]">
                {{item}}
              </li>
            </ul>
            <h2 class="sub-title" *ngIf="projectItem[MODEL.projectSkills]">
              {{projectProps[MODEL.projectSkills].label}}
            </h2>
            <p *ngIf="projectItem[MODEL.projectSkills]">{{projectItem[MODEL.projectSkills] | join : ' | '}}</p>
          </div>
        </div>
        <button class="btn-project-select btn-right btn-icon"
          [disabled]="projectItemIndex >= projectItemsLength - 1"
          (click)="onProjectNext()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </section>
  </jl-content-wrapper>
</section>
<section class="jl-modal-bg" fxFlexFill
  [@bgVisible]="panelVisibleState" (click)="onClose()"></section>
