@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/components';

.jl-project-details {
  position: fixed;
  z-index: 200;
  top: 10%;
  width: 100%;
  min-height: 100px;
  background-color: $color-white-extreme-opacity;
  color: $color-grey-800;
  box-shadow: $box-shadow-details-page;
}

.jl-modal-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-white;
  opacity: .7;
}

.btn-close {
  position: absolute;
  top: - 12px;
  right: - 10px;
  color: $color-grey-600;
}

.item-images {
  padding: 20px 0;
}

.item-details {
  padding: 20px 0;

  .item-title {
    color: $color-grey-800;
  }

  .item-desc {
    color: $color-grey-600;
  }
}

.item-footer {
  padding: 10px;
  border-top: 1px solid $color-grey-300;
}

