<div class="project-item"
  fxFlex="1 1 90%"
  fxFlex.sm="0 0 {{uiDimensions.wPortfolioItemMaxSm}}px"
  fxFlex.md="0 0 {{uiDimensions.wPortfolioItemMaxMd}}px"
  fxFlex.lg="0 0 {{uiDimensions.wPortfolioItemMaxLg}}px"
  (mouseout)="itemDetails.style.opacity = 0"
  (mouseover)="itemDetails.style.opacity = 1"
  (click)="onOpenDetails()">
  <img #itemBg class="project-item-bg" src="{{item.imgThumbLoc}}">
  <div #itemDetails class="project-item-details">
    <p>{{projectProps.title.label}} : {{item.title}}</p>
    <p> {{projectProps.company.label}} : {{item.company}}</p>
  </div>
</div>
