@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/components';

$item-spacing: 10px;
$item-padding: 5px 10px;
$item-width: 240px;
$item-height: 180px;

.project-item {
  position: relative;
  margin: 0 0 $item-spacing $item-spacing;
  background-color: $color-white;
  box-shadow: $box-shadow-card;
  overflow: hidden;
  transition: $transition-shadow, $transition-margin;
  width: $item-width;
  height: $item-height;

  &:hover {
    margin-top: -2px;
    box-shadow: $box-shadow-card-over;
    cursor: pointer;
  }

  .item-bg {
    position: absolute;
  }

  .item-details {
    position: absolute;
    opacity: 0;
    color: $color-grey-800;
    background-color: $color-black-half-opacity;
    transition: $transition-opacity;
  }

  .item-title {
    background-color: $color-white-extreme-opacity;
    border-bottom: 1px solid $color-grey-300;
    padding: $item-padding;
    font-size: 14px;
  }

  .item-footer {
    background-color: $color-white-extreme-opacity;
    padding: $item-padding;
    border-top: 1px solid $color-grey-300;
  }

  .item-icon-view {
    font-size: 4em;
    color: $color-white-high-opacity;

    &:hover {
      color: $color-white;
    }
  }
}
