@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/components';

$item-spacing: 7px;
$item-padding-h: 10px;
$item-padding-v: 5px;
$item-padding-low-v: 3px;
$item-width: 240px;
$item-height: 180px;
.project-item-container {
  margin: 0 0 $item-spacing * 2 $item-spacing;
}

.project-type {
  margin-bottom: $item-padding-v;
  color: $color-grey-600;
  text-align: center;
  font-size: .75em;
}

.project-item {
  position: relative;
  background-color: $color-white;
  box-shadow: $box-shadow-card;
  overflow: hidden;
  transition: $transition-shadow, $transition-margin;
  width: $item-width;
  height: $item-height;

  &:hover {
    cursor: pointer;
    margin-top: -2px;
    box-shadow: $box-shadow-card-over;

    .item-details {
      opacity: 1;
    }
  }

  .item-bg {
    position: absolute;
  }

  .item-details {
    position: absolute;
    opacity: 0;
    background-color: $color-black-half-opacity;
    transition: $transition-opacity;

    .item-title {
      padding: $item-padding-v $item-padding-h;
      background-color: $color-black-high-opacity;
      color: $color-white;
      border-bottom: 1px solid rgba(255, 255, 255, .7);
      line-height: 1.3;
      text-align: center;
      font-size: .825em;
    }

    .item-footer {
      padding: $item-padding-low-v $item-padding-h;
      color: $color-grey-800;
      background-color: $color-white;
    }

    .item-icon-view {
      font-size: 3.5rem;
      color: $color-white-high-opacity;

      &:hover {
        color: $color-white;
      }
    }
  }
}
